tools/dify_chatflow.yml
app:
  description: "芯片验证知识助手 - 基于 RAGFlow enflame-wiki 知识库"
  icon: "🤖"
  icon_background: "#FFEAD5"
  mode: chat
  name: "芯片验证知识助手"
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
      number_limits: 3
    opening_statement: "你好！我是芯片验证知识助手，可以回答 SIP4.5 / LibraH 芯片项目相关问题。"
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - "SIP4.5 MALU 微架构有哪些变动？"
    - "RTL Freeze Signoff Checklist 包含哪些检查项？"
    - "VPE 验证策略是什么？"
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: start-knowledge-retrieval
      source: start-node
      sourceHandle: source
      target: retrieval-node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: knowledge-retrieval-llm
      source: retrieval-node
      sourceHandle: source
      target: llm-node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm-node
      sourceHandle: source
      target: answer-node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ""
        selected: false
        title: "开始"
        type: start
        variables: []
      height: 54
      id: start-node
      position:
        x: 30
        y: 258
      positionAbsolute:
        x: 30
        y: 258
      type: custom
      width: 244
    - data:
        dataset_ids: []
        desc: ""
        external_knowledge_api_id: ""
        external_knowledge_api_name: ""
        query_variable_selector: []
        retrieval_mode: external-knowledge
        score_threshold: 0.3
        selected: false
        title: "RAGFlow 知识检索"
        top_k: 10
        type: knowledge-retrieval
      height: 98
      id: retrieval-node
      position:
        x: 354
        y: 258
      positionAbsolute:
        x: 354
        y: 258
      type: custom
      width: 244
    - data:
        context:
          variable_selector:
          - retrieval-node
          - result
        desc: ""
        memory:
          query_prompt_template: "{{#sys.query#}}"
          role_prefix:
            assistant: ""
            user: ""
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - role: system
          text: "你是芯片验证知识助手，专门回答 SIP4.5 / LibraH 芯片验证项目相关问题。\n\n根据以下参考资料回答问题。如果参考资料不足以回答，请如实说明无法回答，不要编造内容。\n\n参考资料：\n{{#context#}}"
        selected: false
        title: "LLM 生成答案"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm-node
      position:
        x: 678
        y: 258
      positionAbsolute:
        x: 678
        y: 258
      type: custom
      width: 244
    - data:
        answer: "{{#llm-node.text#}}"
        desc: ""
        selected: false
        title: "直接回复"
        type: answer
        variables: []
      height: 104
      id: answer-node
      position:
        x: 1002
        y: 258
      positionAbsolute:
        x: 1002
        y: 258
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
